.wrapper {
    color: #1E1B1B;
    font-family: Manrope, sans-serif;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ============HEADER TOP======================= */
.container {}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(19%);
}

.header__logo {
    margin-left: 150px;
}

.header__nav-box {
    display: flex;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    margin-left: auto;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 32px;
}

.header__contatct {
    margin-left: 32px;
    margin-right: 130px;
    display: flex;
    align-items: center;
}

.header__top-icon {
    margin-right: 14px;

}

.span__box {
    display: inline-flex;
    flex-direction: column;
    margin-top: 5px;
    ;
}

.span1 {
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    opacity: .7;
}

.span2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    /* 31.5px */
}

/* ============================================================== */
.header__body {}

.header_body-inner {
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding: 0 20px;
    margin: 71px auto;
}

.header__body-content {
    margin-right: 51px;
    margin-left: auto;
    margin-bottom: 242px;

}

.header__body-img {
    position: relative;
}

.r24__7:first-child {
    position: absolute;
    top: 260px;
    left: 747px;
    z-index: 1;
    margin-right: 12px;
}

.r24__7 {
    border-radius: 59px;
    border: 12px solid #FFF;
    background: linear-gradient(174deg, #FFF 0%, #FFF 100%);

    display: inline-flex;
    align-items: center;
}

.r24__7 p {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.r24__7:hover {
    transform: all .3s;
    border-radius: 59px;
    border: 12px solid rgba(225, 225, 225, 0.43);
    box-shadow: 0px 28px 118px 0px rgba(109, 108, 115, 0.12);


}

.header__body-text {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    /* 131.25% */
    letter-spacing: -1.92px;
    margin-bottom: 32px;
}

.header__body-btns {
    display: flex;

}

.body__btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    /* 31.5px */
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--primary, #FF6433);
    margin-bottom: 64px;
}

.body__play-btn::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url(/img/imgs/Play\ icon.svg) no-repeat;
}

.body__play-btn {
    display: inline-flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transform: translateY(20%);
}

.header__body-clock {}

.clock1 {
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    color: var(--grey, #939191);
}

.clock2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    /* 31.5px */
}

.body__clock-wrapper {
    display: inline-block;
}

.header__body-clock::before {
    content: "";
    width: 31px;
    height: 31px;
    background: url(/img/imgs/clock__icon.svg) no-repeat;
    display: inline-block;
    margin-right: 13.05px;
}

.header__body_img {}

/* ================MAIN====================================== */
/* ==============OFFER================================= */
.main__offer {
    background: var(--light-grey, #F2F2F2);
    padding-bottom: 15px;
}

.main__offer-gridbox {
    display: grid;
    grid-template: repeat(2, auto)/repeat(4, auto);
    gap: 8px;
    margin-left: 20px;
}

.main__offer-gridbox p {
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.72px;
}



.offer__gridbox-box {
    width: 316px;
    height: 232px;
    flex-shrink: 0;
    background: #fff;
}

.offer__gridbox-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer__gridbox-box path {
    fill: black;
}

.main__offer-heading {}

.offer__heading-sibtitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.72px;
    padding-top: 128px;
    margin-bottom: 8px;
}

.offer__heading-title {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    width: 858px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.offer__gridbox-box:hover {
    background: var(--primary, #FF6433);
    color: #fff;
    transition: all .3s;
}

.offer__gridbox-box:hover path {
    fill: #fff;
    transition: all .3s;
}

.offer__wrapper {
    position: relative;
    margin-bottom: 192px;
}

.learn__more p {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    position: absolute;
    right: 150px;
    display: inline-block;
}

.learn__more {
    position: relative;
}

.learn__more svg {
    margin-top: 50px;
    position: absolute;
    right: 75px;
    top: -9px;
}

/* =======================MAIN HELPYOU======================== */
.main__helpYou {}

.helpyou__wrapper {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 134px;

}

.help__content {}

.help__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    /* 131.034% */
    letter-spacing: -1.74px;
    width: 530px;
    margin-bottom: 16px;
    margin-top: 134px;
}

.help__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    width: 440px;
    margin-bottom: 32px;
    color: #939191;
}

.help__btn {
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    line-height: 175%;
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--primary, #FF6433);

}

.help__list {
    margin-top: 147px;
    margin-left: 131px;
    transform: translateY(6%);
    position: relative;
}

.help__list-item {
    margin-bottom: 16px;
    margin-left: 60px;
}

.list__item-title1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    display: flex;
    position: relative;
}

.list__item-title2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    display: flex;
    position: relative;
}

.list__item-title3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -0.96px;
    margin-bottom: 8px;
    display: flex;
    position: relative;
}

.list__item-text {
    color: #939191;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    width: 340px;
    margin-bottom: 16px;
}

.help__list::before {
    content: "";
    width: 2px;
    height: 71px;
    background: #FF6433;
    display: block;
    position: absolute;
    top: 70px;
    right: 380px;
}

.text__line::before {
    content: "";
    width: 2px;
    height: 71px;
    background: #FF6433;
    display: block;
    position: absolute;
    top: 235px;
    right: 380px;
}

.list__item-title1::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;
    top: -17px;
    right: 360px;
    background: url(/img/imgs/Group\ 9129.svg) no-repeat;
}

.list__item-title2::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;
    top: -17px;
    right: 360px;
    background: url(/img/imgs/Group\ 9131.svg) no-repeat;
}

.list__item-title3::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    position: absolute;
    top: -17px;
    right: 360px;
    background: url(/img/imgs/Group\ 9132.svg) no-repeat;
}

.main__contactus {}

.contact__img-box {
    display: inline-flex;
    height: 400px;
    position: relative;

}

.firsrimg {
    width: 540px;
    height: 100%;

}

.contact_box {}

.secondimg {
    width: 670px;
    height: 100%;
    margin-left: 23%;
}

.contact__exp-list {
    display: flex;
}

.exp__list-item {
    margin-top: 48px;
    margin-right: 186px;
    margin-bottom: 48px;
}

.exp__list-item:first-child {
    margin-left: 150px;
}

.exp__list-item:last-child {
    margin-right: 50px;
}

.exp__list-item span {
    color: var(--secondary, #661CE7);
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    margin-bottom: 2px;
}

.exp__list-item p {
    color: #939191;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    white-space: nowrap;
}

.contact_box {
    background: #FF6433;
    position: absolute;
    left: 180px;
    z-index: 1;
    width: 694px;
    height: 400px;
}

.contactbox__text {
    color: #FFF;
    font-size: 43px;
    font-weight: 700;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: -1.44px;
    padding: 100px 80px 43px;
}

.contactbox__btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--black, #1E1B1B);
    margin-left: 61px;
    margin-bottom: 0px;
}

/* ======================Brands============================ */
.main__brands {}

.brands__wrapper {
    background: #E2E6E9;

}

.brands__title {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    margin-bottom: 32px;
    padding-top: 120px;
}

.brands__logo-list {}

.logo__list-item {
    margin-left: 110px;
    padding-bottom: 82px;
}

.logo__list-logo {}

/* =====================BLOG=========================== */
.main__blog {}

.blog__wrapper {
    margin: 0 135px;
    padding: 0 15px;
    margin-top: 96px;
}

.blog__content {}

.blog__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    margin-bottom: 47px;
    letter-spacing: -1.74px;
}

.blog__btn-box {
    margin-bottom: 48px;
}

.blog__btnbox-item {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-right: 30px;

}

.blog__gridbox {
    display: grid;
    grid-template: repeat(2, auto)/repeat(3, auto);
    gap: 32px;
    margin-bottom: 171px;
}

.blog__gridbox-item {
    margin-bottom: 64px;
}

.blog__gr-img {
    margin-bottom: 32px;
}

.posteddate {
    color: #939191;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
}

.gr__box-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -0.96px;
    margin-bottom: 16px;
}

.gr__box-text {
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}

/* =====================COMMENTS====================== */
.main__comment {
    background: var(--light-grey, #F2F2F2);

}

.comment {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.72px;
    width: 472px;
    margin: 0 72px 72px;
}

.main__comment-title {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 76px;
    padding-top: 120px;
}

.main__comment-comments {
    display: flex;
    margin: 0 120px 0;
    position: relative;

}

.main__comment-comments::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url() no-repeat;
}

.user {
    background: #fff;
    margin-right: 48px;
    width: 620px;
    margin-bottom: 200px;
}

.ava {
    display: flex;
    align-items: center;
    margin-top: 71px;
    margin-left: 72px;
    margin-bottom: 25px;
}

.ava__img {
    margin-right: 16px;
}

.ava__text-wrap {}

.ava__text1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.72px;
    margin-bottom: 0;
}

.ava__text2 {
    color: #939191;
    font-weight: 600;
    line-height: 28px;
}

/* ================MAIN FAQ============================= */
.main__faq {
    background: var(--steelgrey, #E2E6E9);
}

.faq__wrapper {}

.main__faq-title {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    padding-top: 128px;
    margin-bottom: 86px;
}

.main__faq-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}

.faq__questions {
    background: #fff;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    margin: 0px 24vw 12px 24vw;
}

.question {
    font-size: 24px;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: -0.72px;
margin-top: 38px;
margin-left: 40px;
margin-bottom: 10px;
margin-right: 0;
}

.faq-icon{
    display: flex;
    align-items: center;
    position: relative;
}
.faq__icon {
    position: absolute;
    top: 35px;
    right: 20px;
}

.faq__answer {
    visibility: hidden;
    transform: translateY(-90%);
    color: var(--grey, #939191);


}
.faq__icon:active .faq__answer{
    visibility: visible;
    transform: translateY(none);
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    margin-left: 40px;
    width: 700px;
    margin-bottom: 38px;
}
/* ================================================ 
================GET IN TOUCH============*/
.main__getintouch {

}
.getintouch__wrapper {
    margin: 0 12vw;

}
.main__getintouch-title {
    font-size: 64px;
font-weight: 800;
line-height: 84px; /* 131.25% */
letter-spacing: -1.92px;
margin-bottom: 48px;
}
.main__getintouch-content--inner {
    margin-bottom: 193px;
}
.main__getintouch-content {
    display: flex;
    margin-bottom: 48px;
    align-items: center;
}
.enteryourdata {
}
.yourdata__list-item {
    font-weight: 600;
line-height: 28px; /* 175% */
border-radius: 2px;
background: var(--Light-Grey, #F2F2F2);
margin-bottom: 4px;
margin-right: 139px;
padding: 23px 300px  22.82px 40px;

}
.info__aboutus {
}
.aboutus_list-item {

}
.about__desc {
    font-weight: 600;
line-height: 28px;
color: #939191;
margin-bottom: 2px;
}
.about__data {
    font-size: 24px;
font-weight: 600;
line-height: 36px; 
letter-spacing: -0.72px;
margin-bottom: 32px;
}
.main__getintouch-btn {
    border-radius: 12px;
background: var(--Primary, #FF6433);
display: inline-flex;
padding: 16px 40px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 18px;
font-weight: 600;
line-height: 175%; /* 31.5px */
}
.getit__img-box{
    position: relative;
}
.getit__img-box img{
    width: 1100px;
    height: 512px;
    margin-bottom: 0;
    position: absolute;
    top: -40.5px;
    left: -3px;
}
/* =============FOOTER================= */

.footer{
    color: #FFF;
    width: 100vw;
    overflow: hidden;
    padding-top: 450px;
}
.footer__content {
    opacity: 0.98;
    background: var(--Black, #1E1B1B);
}
.foot__img-box img{
    width: 100vw;
    height: 100%;
}
.foot__img-box{
margin-top: -90px;
}
.foot__inner {
    margin: 0 12vw;

}
.foot__top {
    display: flex;
    margin-bottom: 129px;
}
.foot__c-1 {
    margin-top: 128px;
    margin-right: 193px;
    display: flex;
    flex-direction: column;
}
.foot__title {
    color: #FFF;
font-size: 48px;
font-weight: 700;
line-height: 140%; /* 67.2px */
letter-spacing: -1.44px;
width: 463px;
height: 134px;
flex-shrink: 0;
margin-bottom: 64px;

}
.foot__icon-box  {
    display: flex;

}
.foot__icon-box svg {

    margin-right:21px;
}
.foot__c-2 {
    margin-top: 128px;
}
.foot__list-item {
}
.foot__c2-desc {
    font-size: 18px;
font-weight: 600;
line-height: 175%;
color: #939191;
}
.foot__c2-data {
    font-size: 24px;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: -0.72px;
margin-bottom: 32px;
}
.foot__end {
    background: var(--Black,  #151313);
    opacity: none;
    width: 100vw;
    margin: 0 -12vw;
}
.foot__end-inner{
    display: flex;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}
.foot__end-logo {
    margin-right: 280px;
    margin-left: 12vw;
}
.foot__end-item {
    margin-right: 36px;
}
.foot__end-item:last-child{
    margin-right: 206px;
}
.foot__end-sth {
    color: var(--Grey, #939191);
font-size: 16px;
font-weight: 600;
line-height: 28px; 
margin-left: 80px;
}